<app-nav></app-nav>
<div
  class="container-fluid"
  style="background: radial-gradient(transparent, #000000), #320b39"
>
  <div
    class="col-12 container-fluid d-flex flex-wrap text-light mh-100 min-vh-100"
    id="override"
  >
    <div
      class="border-end border-start col-12 col-md-4 col-sm-12 container"
      style="
        background: linear-gradient(#0c0c0c, #221327, #000000) !important;
        border-image: linear-gradient(#3e3e3e, #222222) 1;
      "
    >
      <img
        [src]="movie.poster"
        alt="Card image cap"
        class="card-img-top image-fit image-fit-center-top mb-3 mt-3 rounded"
      />
    </div>
    <div class="col-12 col-md-8 col-sm-12 container">
      <div class="container p-2">
        <div
          class="align-items-center border-bottom col-11 container d-flex gx-5"
        >
          <h3 class="p-2 text-start">{{ movie.title }}</h3>
          <div class="col-auto container d-flex justify-content-center">
            <div class="star-rating__wrap">
              <input
                class="star-rating__input"
                id="star-rating-5"
                type="radio"
                name="rating"
                value="5"
              />
              <label
                class="star-rating__ico fa fa-star-o fa-lg"
                for="star-rating-5"
                title="5 out of 5 stars"
              ></label>
              <input
                class="star-rating__input"
                id="star-rating-4"
                type="radio"
                name="rating"
                value="4"
              />
              <label
                class="star-rating__ico fa fa-star-o fa-lg"
                for="star-rating-4"
                title="4 out of 5 stars"
              ></label>
              <input
                class="star-rating__input"
                id="star-rating-3"
                type="radio"
                name="rating"
                value="3"
              />
              <label
                class="star-rating__ico fa fa-star-o fa-lg"
                for="star-rating-3"
                title="3 out of 5 stars"
              ></label>
              <input
                class="star-rating__input"
                id="star-rating-2"
                type="radio"
                name="rating"
                value="2"
              />
              <label
                class="star-rating__ico fa fa-star-o fa-lg"
                for="star-rating-2"
                title="2 out of 5 stars"
              ></label>
              <input
                class="star-rating__input"
                id="star-rating-1"
                type="radio"
                name="rating"
                value="1"
              />
              <label
                class="star-rating__ico fa fa-star-o fa-lg"
                for="star-rating-1"
                title="1 out of 5 stars"
              ></label>
            </div>
          </div>
        </div>
        <div
          class="align-items-start container d-flex justify-content-evenly mt-4"
        >
          <h5>{{ movie.year }}</h5>
          <h5 class="bg-secondary pe-2 ps-2 rounded shadow-sm">
            {{ movie.rated }}
          </h5>
          <h5>{{ movie.runtime }}</h5>
          <img
            src="https://www.metacritic.com/images/layout/mc_logo_inverted.png"
            height="30"
          />
          <h6 class="bg-success p-1 rounded">{{ movie.metacritic }}</h6>
        </div>
        <div class="container">
          <h5 class="fw-normal mb-5 me-4 ms-4 mt-4">{{ movie.plot }}</h5>
        </div>
        <div class="col-10 container d-flex gap-1 me-5 ms-5 pb-1">
          <h6 class="col-2 text-white-50">Genre:</h6>
          <h6>{{ movie.genre }}</h6>
        </div>
        <div class="col-10 container d-flex gap-1 me-5 ms-5 mt-1 pb-1">
          <h6 class="col-2 text-white-50">Director:</h6>
          <h6>{{ movie.director }}</h6>
        </div>
        <div class="col-10 container d-flex gap-1 me-5 ms-5 mt-1 pb-1">
          <h6 class="col-2 text-white-50">Actors:</h6>
          <h6>{{ movie.actors }}</h6>
        </div>
        <div class="col-11 container mt-3">
          <div class="mb-3 mt-3">
            <label for="formInput26" class="form-label fw-bold text-light"
              >Comments</label
            >

            <textarea
              class="
                bg-dark bg-gradient
                border-secondary
                form-control
                rounded
                text-light
              "
              id="formInput26"
              rows="3"
              name="Review"
              style="box-shadow: inset 0px 0px 80px 0px #000000"
              >{{ userReview }}</textarea
            >
          </div>
          <button
            type="button"
            class="
              bg-gradient
              btn btn-primary
              float-end
              fw-bold
              pe-4
              ps-4
              shadow-sm
              text-light
            "
          >
            Save
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- ALL USER REVIEWS!!!!! -->
  <div
    class="col-12 container-fluid d-flex flex-wrap text-light mh-100 min-vh-100"
    id="override"
  >
    <div class="list-group">
      <div class="my-3" *ngFor="let review of movie.reviews">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ review.user.username }}</h5>
          <small>{{ review.rating }}/5</small>
        </div>
        <p class="mb-1">
          {{ review.review }}
        </p>
        <hr />
      </div>
    </div>
  </div>
</div>
