<div class="mt-5 underline">
  <div
    class="pb-1 pt-1 mb-4 shadow"
    style="
      background: linear-gradient(
        to left,
        transparent,
        #7f3681b0,
        transparent
      ) !important;
    "
  >
    <h3 class="fw-bold text-center mt-3" id="following-bar">Following:</h3>
    <div class="list-group">
      <div class="my-3 border px-3 pt-1" *ngFor="let follow of followingList">
        <div class="d-flex w-100 justify-content-between">
          <h4 class="mb-1">
            <a
              [routerLink]="['/user-homepage']"
              [queryParams]="{ username: follow.following.username }"
              >{{ follow.following.username }}</a
            >
          </h4>
          <h4>{{ follow.followDate }}</h4>
        </div>
        <button
          *ngIf="follow.following.id !== currentUserId"
          (click)="followUser(follow.following.id)"
        >
          <span>{{
            isFollowing(follow.following.id) ? "Unfollow" : "Follow"
          }}</span>
        </button>
      </div>
    </div>
  </div>
</div>
