<div class="container-fluid">
  <div *ngIf="alertStatus" class="alert alert-danger alert-dismissible fixed-top position-absolute fade show">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="alertReset()"></button>                 
    The username or password was incorrect.            
</div>
  <div class="background-cover row" id="loginbackground">
    <div
      class="col-12 col-lg-4 col-md-6 col-sm-8 container-sm mb-5 mt-5 rounded shadow-lg" style="background: linear-gradient(15deg,rgba(8, 1, 8, 0.562) 10%,rgb(27, 27, 27),rgb(75, 75, 75)) !important;"
    >
      <div
        class="
          align-content-center
          container
          flex-wrap
          justify-content-center
          mb-5
          mt-5
          p-5
        "
      >
        <h3 class="fs-3 fw-lighter mb-4 text-center text-light text-uppercase">
          Sign in
        </h3>
        <form #userForm="ngForm" class="text-light" (ngSubmit)="login(userForm)" ngNativeValidate>
          <div class="mb-3">
            <label for="user" class="lead text-white-50"
              >Username</label
            >
            <input
              type="text"
              name="user"
              class="bg-gradient bg-light form-control shadow-sm"
              id="user"
              ngModel
              required
            />
          </div>
          <div class="mb-3">
            <label for="password" class="lead text-white-50"
              >Password</label
              >
            <input
              type="password"
              name="password"
              class="bg-gradient bg-light form-control shadow-sm"
              id="password"
              ngModel
              required
            />
          </div>
          <button
            type="submit"
            class="
              bg-gradient
              btn btn-lg btn-primary
              mt-3
              pe-5
              ps-5
              shadow
              text-light
              w-100
            "
          >
            Sign In
          </button>
        </form>
        <div class="mt-4 text-center">
          <a href="/registration">Register Account</a>
        </div>
      </div>
    </div>
  </div>
</div>
