<div id="search-component" class="h-100">
  <!-- <label for="search-box">Movie Search</label> -->
  <input #searchBox type="text" class="bg-transparent h-100 border-0 form-control text-start" placeholder="Search" aria-label="Search"
    aria-describedby="basic-addon1" (input)="search(searchBox.value)">
</div>
  <ng-container *ngFor="let movie of movies$ | async">
    <a routerLink="/movie-detail/{{movie.id}}" type="button" class="list-group-item list-group-item-action">{{movie.title}}</a>
  </ng-container>
<!-- <form>
  <input type="text" #movie id="movie">
  <button (click)="searchApi(movie.value)">find movie</button>
</form> -->
