<!-- <app-nav></app-nav> -->

<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h1 class="username_card">{{ user.username }}</h1>
        </div>

        <ul class="list-unstyled components">
            <p>{{ user.firstName }} {{ user.lastName }}</p>
            <li>
                <button (click)="populateReviews()" class="navbtn" id="review_btn">Reviews</button>
            </li>
            <li>
                <button (click)="populateFollowing()" class="navbtn" id="following_btn">Following</button>
            </li>
            <li>
                <button (click)="populateFollowers()" class="navbtn" id="followers_btn">Followers</button>
            </li>
        </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">

        <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span>Toggle Sidebar</span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>
            </div>
        </nav> -->

        <div id="ul-wrapper">
            <ul id="ul-contents">
                
                <app-reviews [reviews]="user.reviews" id="reviewList"></app-reviews>

                <app-following-list [followingList]="user.following" id="followingList"></app-following-list>

                <app-follower-list [followersList]="user.followers" id="followerList"></app-follower-list>
                
            </ul>
        </div>

    </div>
</div>
