<div class="container-fluid" style="background: radial-gradient(transparent, #000000), #320b39">
  <div class="
      col-12
      container-fluid
      d-flex
      flex-wrap
      justify-content-center
      text-light
      mh-100
      min-vh-100
    " id="override">
    <!-- <div class="border-end border-start col-12 col-md-4 col-sm-12 container" style="
        background: linear-gradient(#0c0c0c, #221327, #000000) !important;
        border-image: linear-gradient(#3e3e3e, #222222) 1;
      "> -->
      <ng-container *ngFor="let movie of moviesArray">
        <div class="card text-center mr-1" style="width: 13rem; height: 20rem;">
          <img class="card-img-top" height="150px" width="150px" src="{{movie.Poster}}" alt="Card image cap">
          <div class="card-body" style="background: radial-gradient(transparent, #000000), #320b39">
              <h5 class="card-title font-lg">{{ movie.Title | slice: 0:20 }}{{movie.Title.length > 20 ? '...' : ''}}</h5>
            <p class="card-text font-sm">{{movie.Year}}</p>
            <a href="#" class="btn btn-primary">Get Details</a>
          </div>
        </div>
      </ng-container>
    </div>
  <!-- </div> -->
</div>
